:root {
    --back-color: white;
    --font-size: 2em;
}

.class1 {
    height: 30vh;
    width: 50vw;
    background-color: var(--back-color);
}
.class2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: var(--font-size);
}