table {
    border-collapse:collapse;
    width: 100%;
}
td {
    border-bottom: 2px solid rgb(185, 185, 185);
    padding: 0.5em;
}
th {
    background-color: rgb(224, 224, 224);
    font-size: 1.5em;
    padding: 5px 0px 5px 5px;
}
tr {
    transition: all .5s;
}
tr:hover {
    color: white;
    background-color: rgb(185, 185, 185);
}